/backend/node_modules
/frontend/node_modules

.env
/backend/.env
/frontend/.env
*.env
.env.local
.env.development
.env.production

dist/
build/
/frontend/dist/

*.log
.DS_Store
Thumbs.db
Desktop.ini

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

*.pem
.npm


/backend/seedAdmin.js